---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Laravel from "./icons/Laravel.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Node from "./icons/Node.astro"
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
    LARAVEL: {
        name: "Laravel",
        class: "bg-[#FF2D20] text-white",
        icon: Laravel,
    },
    NodeJS: {
        name: "Node.js",
        class: "bg-[#339933] text-white",
        icon: Node,
    },

 

}
const PROJECTS = [
  {
    title: "Jolt Laravle - e-commerce store",
    description:
      "E-commerce store built with Laravel, Tailwind CSS,Livewire, and Alpine.js. Features include product search, cart, and checkout.",
    github: "https://github.com/redaezziani/Jolt-store",
    image: "/projects/jolt.webp",
    link:"",
    tags: [TAGS.LARAVEL, TAGS.TAILWIND],
  },
  {
    title: "Node.js Ticketing System Api",
    description:
      "Ticketing system API built with Node.js, Express, and MongoDB. Features include user authentication, ticket creation, and ticket status updates.",
    image: "/projects/api.webp",
    link:"",
    github: "https://github.com/redaezziani/ticketing-system-api",
    tags: [TAGS.NodeJS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



